 .content{
   opacity: 0;
 }

  .logo{
    height: 20%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
  }

  .logoSecond{
    height: 15%;
    width: 15%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1%;
  }

  .searchForm{
    margin-top:5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 300ms;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    width: 30%;
  }

  /*.searchForm:after{*/
  /*  content: url("../assets/logos/search.svg");*/
  /*  display: block;*/
  /*  overflow: hidden;*/
  /*}*/

  input{
    position: absolute;
    color: #7b9988;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 20px;
  }

  .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #7b9988;;
    text-align: center;
    font-size: 1.2em;
    transition: all 300ms;
  }

.searchButton{

  width: 15%;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
  color: #7b9988;
}

.searchButton:hover{
  background-color: #7b9988;
  color: whitesmoke;
  transition: 500ms;
}

 .searchForm:focus-within {

 }



 .searchForm{
   background-image: url("../assets/logos/search.svg");
 }






  .searchForm:hover{
    cursor: pointer;
  }

  /*.searchForm:hover .fa{*/
  /*  background: #7b9988;*/
  /*  color: black;*/
  /*}*/

  .animationText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  teximate{
    color: whitesmoke;
    font-size: 30px;
  }

.results{
  opacity: 0;
  width: 80%;
  height: 72%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.repoLink{
  text-decoration: none;
  color: #7b9988;
}

.repoLink:hover{
  color: #495f53;
}

 /* Structure */
 .example-container {
   position: relative;
   min-height: 200px;
 }

 .example-table-container {
   position: relative;
   max-height: 400px;
   overflow: auto;
 }

 table {
   width: 100%;
 }

 .example-loading-shade {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 56px;
   right: 0;
   background: rgba(0, 0, 0, 0.15);
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .example-rate-limit-reached {
   color: #980000;
   max-width: 360px;
   text-align: center;
 }

 /* Column Widths */
 .mat-column-number,
 .mat-column-state {
   max-width: 64px;
 }

 .mat-column-created {
   max-width: 124px;
 }


 .spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
   stroke: #000000 !important;
 }


 .backButton{
   width: 15%;
   height: 40px;
   border-style: none;
   border-radius: 10px;
   font-weight: bold;
   color: #7b9988;
 }

 .backButton:hover{
   background-color: #7b9988;
   color: whitesmoke;
   transition: 500ms;
 }


 .example-loading-shade{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-color: rgba(245, 245, 245, 0.84);
 }

 .example-rate-limit-reached{
   background-color: rgba(245, 245, 245, 0.39);
 }


 .ratio{
   margin-top: 10px;
   margin-bottom: 20px;
 }

 .ratio-button{
   margin-left: 10px;
 }


 .saveMethods{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 }

 .saveMethods label{
   font-weight: bold;
   color: whitesmoke;

 }

 .checkboxes{
   width: 50%;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;


 }


 .forkFullName:hover{
   color: black;
   transform: scale(1.2);
   transition: 200ms;
 }
